{% extends 'base_layout.html' %}
{% load static %}

{% block content%}





<!-- Page heading -->
<div class="container p-t-4 p-b-40">
    <h2 class="f1-l-1 cl2">
        Login
    </h2>
</div>

<!-- Content -->
<section class="bg0 p-b-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 p-b-80">
                <div class="p-r-10 p-r-0-sr991">
                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}

                        <!-- Display non-field errors -->
                        {{ form.non_field_errors }}

                        <!-- Display username errors -->
                        {% if form.username.errors %}
                            <div class="error-message">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                        <div class="bo-1-rad-3 bocl13 f1-s-13 cl5 plh6 p-rl-18 m-b-20">Username
                            {{ form.username }}
                        </div>

                        <!-- Display password errors -->
                        {% if form.password.errors %}
                            <div class="error-message">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                        <div class="bo-1-rad-3 bocl13 f1-s-13 cl5 plh6 p-rl-18 m-b-20">Password
                            {{ form.password }}
                        </div>

                        <input class="size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20" type="submit" value="Login" />
                    </form>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-5 col-lg-4 p-b-80">
                <div class="p-l-10 p-rl-0-sr991">
                    <!-- Popular Posts -->
                    <!-- ... (unchanged) ... -->
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock%}