{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


<!-- Page heading -->
<div class="container p-t-4 p-b-35">
	<h2 class="f1-l-1 cl2">
		About Us
	</h2>
</div>

<!-- Content -->
<section class="bg0 p-b-110">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-8 p-b-30">
				<div class="p-r-10 p-r-0-sr991">
					<p class="f1-s-11 cl6 p-b-25">
						Welcome to Kikapu African Expeditions, where the spirit of adventure meets the heart of Africa.
						Founded with a deep passion for exploration and a commitment to showcasing the untamed beauty of
						the continent, we take pride in curating journeys that transcend the ordinary. </p>

					<p class="f1-s-11 cl6 p-b-25">
						Kikapu, meaning "basket" in Swahili, symbolizes our philosophy of weaving unique and
						unforgettable experiences for every traveler. </p>

					<p class="f1-s-11 cl6 p-b-25">
						At Kikapu African Expeditions, we believe that travel is not just about the destinations; it's
						about the stories created along the way. Our meticulously crafted tours offer an immersive blend
						of adventure, culture, and luxury, ensuring that every moment becomes a cherished memory. </p>


						<h2 class="f1-l-1 cl2">
							FAQ's
						</h2>


					<p class="f1-s-11 cl6 p-b-25">
						<h3 class="f1-m-2 cl3 tab01-title">1: Do you offer custom tours?</h3>
						Absolutely! We specialize in crafting personalized experiences tailored to your preferences.
						Whether it's a unique safari adventure or a cultural immersion, our team will work with you to
						design a bespoke tour that suits your interests.

					</p>

					<p class="f1-s-11 cl6 p-b-25">
						<h3 class="f1-m-2 cl3 tab01-title">2.Where is your company located in?</h3>
						Our headquarters are nestled in the vibrant city of Nairobi,Kenya, the gateway to East
						Africa's wonders. From here, we coordinate and plan your adventures across East Africa, ensuring
						a seamless and unforgettable experience.

					</p>

					<p class="f1-s-11 cl6 p-b-25">
						<h3 class="f1-m-2 cl3 tab01-title">3.Do you exclusively operate in Kenya, or do you offer tours in other East African countries?</h3>
						While our roots are in Kenya, we love exploring the rich tapestry of East Africa. Our tours
						extend beyond borders, covering iconic destinations in Tanzania, Uganda, Rwanda, and more.
						Wherever your East African dreams take you, we'll be there to guide you.

					</p>

					<p class="f1-s-11 cl6 p-b-25">
						<h3 class="f1-m-2 cl3 tab01-title">4.How do I get in touch with your team to discuss my travel plans?</h3>
						Contacting us is a breeze! You can reach our dedicated team through the "Contact Us" section
						on our website. Whether you prefer email, phone, or a virtual consultation, we're here to answer
						your questions, plan your itinerary, and ensure your journey with us is nothing short of
						extraordinary.

					</p>






				</div>
			</div>

			<!-- Sidebar -->
			<div class="col-md-10 col-lg-4 p-b-30">
				<div class="p-l-10 p-rl-0-sr991 p-t-70">
					<!-- Category -->
					<div class="p-b-60">
						<div class="how2 how2-cl4 flex-s-c">
							<h3 class="f1-m-2 cl3 tab01-title">
								Kikapu Country Destinations
							</h3>
						</div>

						<ul class="p-t-35">
							<li class="how-bor3 p-rl-4">
								<a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
									Kenyan Tours
								</a>
							</li>

							<li class="how-bor3 p-rl-4">
								<a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
									Ugandan Tours
								</a>
							</li>

							<li class="how-bor3 p-rl-4">
								<a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
									Tanzanian Tours
								</a>
							</li>




						</ul>
					</div>

					<!-- Archive -->



				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}