
{% extends 'base_layout.html' %}
{% load static %}

    {% block content%}

        <!-- main content  -->

        <section class="main-content">
            <div class="container-xl">
                <div class="row gy-4">
                    <div class="section-header">
                        <h3 class="site-title" >Create a Blog Post</h3>
                    </div>
                    <!-- left part 1st section  -->
                    <div class="col-lg-8">
                        
                        <div class="spacer" data-height="50"></div>
                        <form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">


                            {% csrf_token %}

                            <div class="section-header">
                                <p style="font-weight:bold; color:black">Title</p>
                            </div>

                            

                            <div class="padding-30 rounded bordered">
                                <div class="row gy-5">
                                    {{ form.title }}
                                </div>
                            </div>

                            <div class="section-header">
                                <p style="font-weight:bold; color:black">Body</p>
                            </div>

                            <div class="padding-30 rounded bordered">
                                <div class="row gy-5">
                                    {{ form.body }}
                                </div>
                            </div>

                            <div class="section-header">
                                <p style="font-weight:bold; color:black">Slug</p>
                            </div>

                            <div class="padding-30 rounded bordered">
                                <div class="row gy-5">
                                    <!-- {{ form.slug }} -->
                                </div>
                            </div>

                            <div class="section-header">
                                <p style="font-weight:bold; color:black">Thumbnail</p>
                            </div>

                            <div class="padding-30 rounded bordered">
                                <div class="row gy-5">
                                    {{ form.thumb }}
                                </div>
                            </div>

                            <input type="submit" value="Create" />

                        
                        </form>
                        
                    </div>
                    <!-- right part starts from here  -->

                    <div class="col-lg-4">
                        <div class="sidebar">
                            
                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Our Partners</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Government of Kenya</a></li>
                                        <li><a href="#">Fips Africa</a></li>
                                        <li><a href="#">Artoben Design</a></li>
                                        <li><a href="#">Tourism Institute of Kenya</a></li>
                                        <li><a href="#">Great Commission Academy</a></li>
                                        <li><a href="#">Yali</a></li>
                                        <li><a href="#">Samuel Odera Family</a></li>
                                        <li><a href="#">Volunteer Ministers</a></li>
                                        <li><a href="#">Toka Family</a></li>
                                        
                                    </ul>
                                </div>
                            </div>

 
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {% endblock%}




{% comment %} <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Articles List</h1>
        <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></h2>
                <p>{{ article.snippet }}</p>
                <p>{{ article.date }}</p>
            </div>
        {% endfor %}
        </div>
    </body>
</html> {% endcomment %}


  
  
  {% comment %} `<h1>Log in</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <input type="submit" value="Login" />
    </form>
    <p>Not got an account? <a href="{% url 'accounts:signup' %}">Sign up</a></p> {% endcomment %}


{% comment %} <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Signup">
</form> {% endcomment %}}


{% comment %} <div class="create-article">
    <h2>Create an Awesome New Article</h2>
    <form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create">
    </form>
</div> {% endcomment %}