
{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


<section class="bg0">
	<div class="container">
		<div class="row m-rl--1">
			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g1.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g1.jpg' %});"></div>
			</div>

			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g2.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g2.jpg' %});"></div>
			</div>

			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g3.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g3.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g4.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g4.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g5.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g5.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g6.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g6.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g7.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g7.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g8.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g8.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g9.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g9.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g10.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g10.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g11.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g11.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g12.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g12.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g13.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g13.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g14.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g14.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g15.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g15.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g16.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g16.jpg' %});"></div>
			</div>


			<div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
				<a data-fancybox="gallery" href="{% static 'articles/images/g17.jpg' %}" class="dis-block how1-child1 trans-03"></a>
				<div class="bg-img1 size-a-12 how1 pos-relative"
					style="background-image: url({% static 'articles/images/g17.jpg' %});"></div>
			</div>



		</div>
	</div>
</section>



{% endblock %} 
