{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Kikapu African Expeditions</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Kikapu African Expeditions offers unique safari experiences in Africa. Explore the beauty of the continent with our expert guides.">

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'articles/images/icons/logo-012.png' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'articles/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'articles/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'articles/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'articles/vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'articles/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'articles/vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'articles/css/util.min.css' %}">
	<!--===============================================================================================-->


	<!-- Include Fancybox CSS and JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>





	<link rel="stylesheet" type="text/css" href="{% static 'articles/css/main.css' %}">
	<!--===============================================================================================-->




</head>

<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar container h-100">
					<div class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								Welcome
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'articles/images/icons/icon-night.png' %}"
								alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>


						{% if user.is_authenticated and user.is_superuser %}
						<a href="{% url 'articles:create' %}" class="left-topbar-item">
							Create a Blog
						</a>
						{% endif %}

						{% if user.is_authenticated %}

						<form class="site-form" action="{% url 'accounts:logout' %}" method="post">
							{% csrf_token %}
							<button type="submit" class="left-topbar-item">Logout</button>
						</form>

						<a href="{% url 'accounts:signup' %}" class="left-topbar-item">
							Hello {{user.username}}
						</a>

						{% else %}
						<a href="{% url 'accounts:signup' %}" class="left-topbar-item">
							Sign up
						</a>

						<a href="{% url 'accounts:login' %}" class="left-topbar-item">
							Log in
						</a>
						{% endif %}


					</div>

					<div class="right-topbar">
						<a href="https://www.facebook.com/MadoadoaVentures254/">
							<span class="fab fa-facebook-f"></span>
						</a>


						<a href="https://www.instagram.com/kikapu_african_expedtions/">
							<span class="fab fa-instagram"></span>
						</a>

						<a href="https://wa.me/254753470309">
							<span class="fab fa-whatsapp"></span>
						</a>
					</div>
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
					<a href="/"><img src="{% static 'articles/images/icons/logo-012.png' %}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								Welcome
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'articles/images/icons/icon-night.png' %}"
								alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
					</li>

					<li class="left-topbar">
						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="#" class="left-topbar-item">
							Contact
						</a>

						<a href="#" class="left-topbar-item">
							Sign up
						</a>

						<a href="#" class="left-topbar-item">
							Log in
						</a>
					</li>

					<li class="right-topbar">
						<a href="https://www.facebook.com/MadoadoaVentures254/">
							<span class="fab fa-facebook-f"></span>
						</a>


						<a href="https://www.instagram.com/kikapu_african_expedtions/">
							<span class="fab fa-instagram"></span>
						</a>
					</li>
				</ul>

				<ul class="main-menu-m">
					<li>
						<a href="/">Home</a>

						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>

					<li>
						<a href="{% url 'articles:category_list' %}">Tour Packages</a>
					</li>

					<li>
						<a href="{% url 'articles:excursion_list' %}">Excursions</a>
					</li>

					<li>
						<a href="{% url 'articles:list' %}">Articles </a>
					</li>

					<li>
						<a href="{% url 'articles:gallery' %}">Gallery </a>
					</li>

					<li>
						<a href="{% url 'articles:about' %}">About/FAQs</a>
					</li>

					<li>
						<a href="{% url 'articles:contact' %}">Contact/Feedback</a>
					</li>

				</ul>
			</div>

			<!--  -->
			<div class="wrap-logo container">
				<!-- Logo desktop -->
				<div class="logo">
					<a href="/"><img src="{% static 'articles/images/icons/logo-012.png' %}" alt="LOGO"></a>
				</div>

				<!-- Banner -->
				<div class="banner-header">
					<a href="/"><img src="{% static 'articles/images/banner-011.jpg' %}" alt="IMG"></a>
				</div>
			</div>

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{% static 'articles/images/icons/logo-012.png' %}" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li class="main-menu-active">
								<a href="/">Home</a>
							</li>

							<li class="mega-menu-item">
								<a href="{% url 'articles:category_list' %}">Tour Packages</a>

							</li>

							<li>
								<a href="{% url 'articles:excursion_list' %}">Excursions</a>
							</li>

							<li class="mega-menu-item">
								<a href="{% url 'articles:list' %}">Articles </a>

							</li>

							<li>
								<a href="{% url 'articles:gallery' %}">Gallery </a>
							</li>


							<li class="mega-menu-item">
								<a href="{% url 'articles:about' %}">About/FAQs</a>


							</li>

							<li class="mega-menu-item">
								<a href="{% url 'articles:contact' %}">Contact/Feedback</a>


							</li>

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<!-- Headline -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
				<span class="text-uppercase cl2 p-r-8">
					Kikapu Feed:
				</span>

				<span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown"
					data-out="fadeOutDown">
					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Explore East Africa With Kikapu </span>



					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Refer someone to earn kikapu trip points </span>
				</span>
			</div>

			<!-- <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</div> -->
		</div>
	</div>



	{% block content %}

	{% endblock %}


	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<!-- <a href="/">
								<img class="max-s-full" src="{% static 'articles/images/icons/logo-012.png' %}"
									alt="LOGO">
							</a> -->
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16">
								Welcome to Kikapu African Expeditions, where the spirit of adventure meets the heart of
								Africa. Founded with a deep passion for exploration and a commitment to showcasing the
								untamed beauty of the continent, we take pride in curating journeys that transcend the
								ordinary. </p>

							</p>

							<p class="f1-s-1 cl11 p-b-16">
								Contact us through our phone number(+254753470309) and official channels or through the
								website contact
								page. </p>

							<div class="p-t-15">
								<a href="https://www.facebook.com/MadoadoaVentures254/"
									class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="https://wa.me/254753470309" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-whatsapp"></span>
								</a>

								<a href="https://www.instagram.com/kikapu_african_expedtions/"
									class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Kikapu for you
							</h5>
						</div>

						<ul>
							<li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{% static 'articles/images/post-01.jpg' %}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											In need on budget Safari?Our 14 day budget safari is for you.
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Kikapu Deals
									</span>
								</div>
							</li>

							<li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{% static 'articles/images/post-02.jpg' %}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											Our Excursions are catered for even the slimmest wallets.
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Kikapu Deals
									</span>
								</div>
							</li>

							<li class="flex-wr-sb-s p-b-20">
								<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{% static 'articles/images/post-03.jpg' %}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
											Refer someone,get kikapu points,redeem them to earn a safari.
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										Kikapu Customer Select
									</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Destinations
							</h5>
						</div>

						<ul class="m-t--12">
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Kenyan Tours
								</a>
							</li>

							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Ugandan Tours
								</a>
							</li>

							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									Tanzanian Tours
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">

					<a href="#"
						class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | Made <i
							class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Powell</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					<iframe src="#" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>




	<script>
		$(document).ready(function () {
			$("[data-fancybox]").fancybox({
				// Options
			});
		});
	</script>










	<!--===============================================================================================-->
	<script src="{% static 'articles/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'articles/vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'articles/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'articles/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'articles/js/main.js' %}"></script>

</body>

</html>